<div class="container my-5 py-3 border-bottom border-primary">
  <div class="row">
    <div class="col-11">
      <h1 class="float-left">BTO University - Agregar Alumno</h1>
    </div>
    <div class="col-1">
      <input type="button" value="Volver" class="btn btn-info float-rigth mt-2 text-light" onClick="history.go(-1);">
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="" [formGroup]="frmAgregarAlumno"> 
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Codigo</label>
                  <input type="text" class="form-control" formControlName="codigo" aria-describedby="codigo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" aria-describedby="nombre">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Carrera</label>
                    <input type="text" class="form-control" formControlName="carrera" aria-describedby="apellidos">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Ciclo</label>
                    <input type="text" class="form-control" formControlName="ciclo" aria-describedby="ciclo">
                  </div>
                <button type="submit" [disabled]="!frmAgregarAlumno.valid" (click)="guardarAlumno()" class="btn btn-success">Agregar Alumno</button>
              </form>
        </div>
    </div>
</div>
