<div class="container my-5 py-3 border-bottom border-primary">
    <div class="row">
      <div class="col-11">
        <h1 class="float-left">BTO University - Editar Materia</h1>
      </div>
      <div class="col-1">
        <input type="button" value="Volver" class="btn btn-info float-rigth mt-2 text-light" onClick="history.go(-1);">
      </div>
    </div>
  </div>
  
  <div class="container">
      <div class="row">
          <div class="col-12">
              <form action="" [formGroup]="frmEditarMateria"> 
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Codigo Materia</label>
                    <input type="text" class="form-control" formControlName="codigoMateria" [(ngModel)]="materiaOld.codigoMateria" aria-describedby="codigoMateria">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Materia</label>
                      <input type="text" class="form-control" formControlName="materia" [(ngModel)]="materiaOld.materia" aria-describedby="materia">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Docente</label>
                      <input type="text" class="form-control" formControlName="docente" [(ngModel)]="materiaOld.docente" aria-describedby="docente">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Equivalencias</label>
                      <input type="number" class="form-control" formControlName="equivalencias" [(ngModel)]="materiaOld.equivalencias" aria-describedby="equivalencias">
                    </div>
                  <button type="submit" [disabled]="!frmEditarMateria.valid" (click)="editarMateria()" class="btn btn-success">Editar Materia</button>
                </form>
          </div>
      </div>
  </div>
